.createBlog{
    margin: auto ;
    display: flex;
    justify-content: center;
    max-width:800px;
    margin-top: 60px;
}

.createBlog input{
    display: flex;
    width: 90%;
    border-top:none;
    border-right: none;
    border-left:none;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    outline: none;
    font-size: 20px;
}

.textEditor{
    width:  600px;
}

.createBlog button{
    margin-top: 20px;
    padding:15px 40px;
    border-radius: none ;
    font-size:medium;
    cursor: pointer;
}

